body{
    background-color: #ce796b;
}
h1{
    display: flex;
    justify-content: center;
}
section{
    display: flex;
    justify-content: center;
}
section p{
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.oui {
    background-color: #28a745;
    color: white;  
}

.non {
    background-color: #dc3545;
    color: white;
}
